/*body{
    background-color: rgba(238, 214, 109, 0.863);
}*/
canvas{
    width:800px;
    height: 800px;
    border: 5px solid black;
    background-color: rgb(255, 255, 255);
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(163, 175, 177);
}